<footer class="block block--dark footer">
  <div class="container grid footer__section">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <svg class="icon icon--accent collapsible__chevron">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations </a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <svg class="icon icon--accent collapsible__chevron">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affilates</a></li>
          <li><a href="#">Blog </a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <svg class="icon icon--accent collapsible__chevron">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knoledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domain</h2>
        <svg class="icon icon--accent collapsible__chevron">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Domin Cheker</a></li>
          <li><a href="#">Doman Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020</p>
    </section>
  </div>
</footer>
<script src="/js/main.js"></script>
